body {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

* {
    font-family: Calibri, DroidKufi, "Droid Arabic Kufi", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}